.search-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  margin: 0 0 0 14px;
  width: 75%;
  max-height: 40px;
  #search-field {
    font-size: 1.125em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
    padding: 10px 12px;
    margin-right: 10px;
    background-color: #fff;
    text-indent: 5px;
    &:focus {
      outline: 1px solid transparent;
    }
  }
  input[type="reset"] {
    margin-left: 10px;
  }
}

@media screen and (max-width: 992px) {
  .search-container {
    width: 100%;
  }
}
