@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #212121;
  color: #fefefe;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
