@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #212121;
  color: #fefefe;
  overflow-x: hidden;
}

.main-container,
.error-container {
  flex: 1 1 auto;
  height: 100%;
}

a {
  color: #fefefe;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #ddd;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-container--column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-pagination-wrapper {
  min-height: calc(100vh - 136px);
}

input[type="text"] {
  &:focus {
    outline: 1px solid #ccc;
  }
}

.btn {
  padding: 8px 15px;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.btn-primary {
  background-color: #0054c7;
  color: #fff;
  transition: all 0.3s ease;
  &:hover {
    background-color: darken(#fff, 0.8);
    color: #0054c7;
  }
}

.btn-back {
  line-height: 1;
  position: relative;
  .back-icon {
    position: relative;
    top: 2px;
  }
}

.btn-secondary {
  background-color: #39be1a;
  color: #fff;
  transition: all 0.3s ease;
  &:hover {
    background-color: darken(#fff, 0.8);
    color: #39be1a;
  }
}

.btn-red {
  color: #fff;
  background-color: #cb2a2a;
  &:hover {
    background-color: darken(#fff, 0.8);
    color: #cb2a2a;
  }
}

.loading {
  color: #feefee;
  margin-top: 15px;
  font-weight: bolder;
  font-size: 24px;
  text-align: center;
}
.error {
  color: #ff000f;
  font-weight: bold;
  z-index: 10;
  font-size: 18px;
  text-align: center;
}
